*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat', sans-serif; 
  
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;


    font-family: 'montserrat', sans-serif; 
    background-image: url(../img/walllper.jpg);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
} 

.search-input{
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20% 0px 20% 0px ;
    border-bottom: 3.5px solid #00ffffea;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    transition: .3s ease-out;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.search-input:focus{
    border-radius:  0px 20% 0px 20%;    
}

::placeholder{
    color: #00eeeecc;
    opacity: 1;
}

.main-section{
    padding: 25px 25px 50px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.location-section .city{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.location-section .date{
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.current-temperature .temperature{
    color: #fff;
    font-size: 6.25rem;
    margin-bottom: 2rem;
    font-weight: 700;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current-temperature span{
    font-weight: 300;
}

.current-temperature .weather{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.6);
}

.current-temperature .high-low{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 4px rgba(0, 0, 0, 0.5);
}

/* Make responsive */

  
@media only screen and (min-width: 400px) {
    .container{
        height: 100vh;
        background-size: cover;
        overflow: hidden;
        flex-direction: column-reverse;
        
    }
    .header-section{
        margin-top: 50px;
    }
    
    .search-input{
        text-align: center;
    }
} 

@media only screen and (min-width: 768px) {
    .container{
        width: 100%;
        height: 100vh;
        background-size: cover;   
        flex-direction: row;  
    }
    .search-input{
        text-align: left;
    }

}

@media only screen and (min-width: 992px) {
    .container{
       
    }
}


    
@media only screen and (min-width: 1200px) {
    .container{
        width: 100%;
        height: 100vh;
        background-size: 100%;

    }
} 




